<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Search</title>
    <script src="{{url_for('static', filename='homeScript.js')}}"></script>
</head>
<body>
    <h1>Search for a House</h1>
    <form onsubmit="submitForm(event)">
        <label for="neighborhood">Neighborhood:</label>
        <input type="text" id="neighborhood" name="neighborhood"><br><br>
        <label for="block">Block:</label>
        <input type="text" id="block" name="block"><br><br>
        <label for="lot">Lot:</label>
        <input type="text" id="lot" name="lot"><br><br>
        <input type="submit" value="Search">
    </form>

    <button onclick="goToSingleFeatures()">Go to single features</button>

    <div id="results">
        {% if results %}
            <h2>Search Results</h2>
            <ul>
                {% for house in results %}
                    <li>Neighborhood: {{ house.neighborhood }}, Block: {{ house.block }}, Lot: {{ house.lot }}, Model: {{ house.model }}, Elevation: {{ house.elevation }}, Color: {{ house.extcolour }}</li>
                    <button onclick="goToUpdatePage('{{house.neighborhood}}','{{house.block}}','{{house.lot}}','{{house.model}}','{{house.elevation}}','{{house.extcolour}}')">Edit House</button>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>