<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACWizard</title>
    <link rel="stylesheet" href="/ACWizard/FrontEnd/assets/css/styles.css">
</head>
<body>
    <div class="page-container">
        <div class="center-container">
            <div class="search-container">
                <form>
                    <div class="form-container">
                        <div class="input-container">
                            <div class="input-pair">
                                <label for="lotjob">Lot Job</label><br>
                                <input type="text" id="lotjob" name="lotjob"><br>
                            </div>
                            <div class="input-pair">
                                <label for="typedescription">Type Description</label><br>
                                <input type="text" id="typedescription" name="typedescription"><br>
                            </div>
                            <div class="input-pair">
                                <label for="phase">Phase</label><br>
                                <input type="text" id="phase" name="phase"><br>
                            </div>
                            <div class="input-pair">
                                <label for="block">Block</label><br>
                                <input type="text" id="block" name="block"><br>
                            </div>
                            <div class="input-pair">
                                <label for="lot">Lot</label><br>
                                <input type="text" id="lot" name="lot"><br>
                            </div>
                            <div class="input-pair">
                                <label for="model">Model</label><br>
                                <input type="text" id="model" name="model"><br>
                            </div>
                            <div class="input-pair">
                                <label for="elevation">Elevation</label><br>
                                <input type="text" id="elevation" name="elevation"><br>
                            </div>
                            <div class="input-pair">
                                <label for="externalcolour">External Colour</label><br>
                                <input type="text" id="externalcolour" name="externalcolour"><br>
                            </div>
                            <div class="input-pair">
                                <label for="neighborhood">Neighborhood</label><br>
                                <input type="text" id="neighborhood" name="neighborhood"><br>
                            </div>
                            <div class="input-pair">
                                <label for="footage">Footage</label><br>
                                <input type="text" id="footage" name="footage"><br>
                            </div>
                        </div>
                        <div class="submit-container">
                            <input type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
            <div class="results-container">
                <table>
                    <tr>
                        <th>Lot Job</th>
                        <th>Type Description</th>
                        <th>Phase</th>
                        <th>Block</th>
                        <th>Lot</th>
                        <th>Model</th>
                        <th>Elevation</th>
                        <th>External Colour</th>
                        <th>Neighborhood</th>
                        <th>Footage</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>