<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single House Feature Search</title>
    <script src="{{url_for('static', filename='singleFeaturesScript.js')}}"></script>
</head> 
<body>
    <h1>Input a House</h1>
    <form onsubmit="submitForm(event)">
        <label for="neighborhood">Neighborhood:</label>
        <input type="text" id="neighborhood" name="neighborhood"><br><br>
        <label for="block">Block:</label>
        <input type="text" id="block" name="block"><br><br>
        <label for="lot">Lot:</label>
        <input type="text" id="lot" name="lot"><br><br>
        <button type="button" onclick="submitFormModel(event)">Action Model</button>
        <button type="button" onclick="submitFormElevation(event)">Action Elevation</button>
        <button type="button" onclick="submitFormColour(event)">Action Colour</button>
    </form>
    <button onclick="goToHome()">Return Home</button>
    <h2>Search Results:</h2>
    <div id="models">
        {% if models %}
            <h2>Models:</h2>
            <ul>
                {% for model in models %}
                    <li>{{ model }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div id="elevations">
        {% if elevations %}
            <h2>Elevations:</h2>
            <ul>
                {% for elevation in elevations %}
                    <li>{{ elevation }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div id="colours">
        {% if colours %}
            <h2>Colours:</h2>
            <ul>
                {% for colour in colours %}
                    <li>{{ colour }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>